<div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
    <!-- Logo -->
    <div class="mb-4 text-center">
      <img src="assets/Manny.png" alt="Logo Manny Maquinarias" style="max-width: 250px;">
    </div>
  
    <!-- Botones -->
    <div class="mb-4">
      <button class="btn btn-outline-orange me-3" (click)="irALogin()">Iniciar Sesión</button>
      <button class="btn btn-outline-orange" (click)="irARegistro()">Registrarse</button>
    </div>
  </div>
  