<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark shadow-sm">
  <div class="container">
    <a class="navbar-brand text-orange fw-bold" href="#">Manny Maquinarias</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a routerLink="/catalogo" class="nav-link">catalogo</a>
        </li>
        <li class="nav-item">
          <ng-container *ngIf="!(isLoggedIn$ | async)">
            <a routerLink="/login" class="nav-link">Iniciar Sesión</a>
          </ng-container>
        </li>
        <li class="nav-item">
          <ng-container *ngIf="!(isLoggedIn$ | async)">
            <a routerLink="/register" class="nav-link">Registrarse</a>
          </ng-container>
        </li>
        <li class="nav-item">
          <button
            *ngIf="isLoggedIn$ | async"
            class="nav-link"
            (click)="logout()"
          >
            Cerrar Sesión
          </button>
        </li>
        <li
          class="nav-item"
          *ngIf="(authService.isLoggedIn$ | async) && authService.isAdmin"
        >
          <a class="nav-link" routerLink="/admin-dashboard">Panel Admin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Contenido principal con fondo naranja -->
<main class="bg-orange-theme min-vh-100 py-5">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
