<header>
  <div class="header-container">
    <!-- Logo del emprendimiento -->
    <a class="logo" routerLink="/">
      <img src="assets/Manny_Maquinarias_loco.png" alt="Logo Mannyquinarias">
    </a>
    <nav class="main-nav">
      <a routerLink="/catalogo">Catálogo</a>
      <a routerLink=#>Iniciar Sesión</a>
      <!--  <a routerLink="#">FAQ</a>-->
    </nav>
  </div>
</header>

<main class="app-main-content">
  <router-outlet></router-outlet>
</main>

<footer>
  <p class="copyright">&copy; {{ currentYear }} MannyMaquinarias. Todos los derechos reservados.</p>
</footer>