/* src/app/admin/gestion-usuario/lista-negra/lista-negra.component.css */

.container {
    max-width: 900px;
}

.card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 0.75rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.card-title {
    color: #343a40;
}

.text-orange {
    color: #fd7e14 !important;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: white;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.table-responsive {
    margin-top: 20px;
}

.table thead th {
    background-color: #343a40;
    /* Color oscuro para el encabezado de la tabla */
    color: white;
    vertical-align: middle;
}

.table-hover tbody tr:hover {
    background-color: #f8f9fa;
    /* Fondo claro al pasar el mouse */
}

.spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: 0.3em; }