<div class="container py-5">
  <h2 class="text-center mb-4 text-orange fw-bold">Listado de Reservas</h2>
  <div class="mb-3 d-flex">
    <div
      #sugerenciasContainer
      class="position-relative"
      style="max-width: 400px"
    >
      <input
        type="text"
        class="form-control"
        [(ngModel)]="emailBusqueda"
        (input)="actualizarSugerencias()"
        placeholder="Buscar por email"
        autocomplete="off"
      />

      <ul
        *ngIf="sugerencias.length > 0"
        class="list-group position-absolute w-100 shadow-sm"
        style="z-index: 1000; max-height: 200px; overflow-y: auto"
      >
        <li
          *ngFor="let email of sugerencias"
          (click)="seleccionarEmail(email)"
          class="list-group-item list-group-item-action"
          style="cursor: pointer"
        >
          {{ email }}
        </li>
      </ul>
    </div>
    <div class="ms-2">
      <button
        class="btn btn-outline-secondary"
        (click)="mostrarTodasLasReservas()"
      >
        Mostrar todas
      </button>
    </div>
    <div class="ms-2">
      <button class="btn btn-outline-primary" (click)="abrirFormulario()">
        Asignar nueva reserva
      </button>
    </div>
    <div class="ms-2 d-flex align-items-center gap-3">
      <input type="date" [(ngModel)]="fecha_inicio" class="form-control" />
      <input type="date" [(ngModel)]="fecha_fin" class="form-control" />
      <button
        class="btn btn-primary"
        (click)="filtrarPorFechas()"
        [disabled]="!fecha_inicio || !fecha_fin"
      >
        Filtrar
      </button>
    </div>
  </div>
  <!-- tabla de reservas -->

  <div *ngIf="isLoading" class="text-center">
    <div class="spinner-border text-orange" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>

  <div
    *ngIf="!isLoading && reservas.length === 0"
    class="alert alert-info text-center"
  >
    No hay reservas registradas.
  </div>

  <div *ngIf="!isLoading && reservas.length > 0" class="table-responsive">
    <table
      class="table table-hover table-bordered align-middle shadow-sm rounded-4"
    >
      <thead class="table-dark">
        <tr class="text-center">
          <th scope="col">#</th>
          <th scope="col">Cliente</th>
          <th scope="col">Máquina</th>
          <th scope="col">Precio</th>
          <th scope="col">Inicio</th>
          <th scope="col">Fin</th>
          <th scope="col">Fecha Reserva</th>
          <th scope="col">Pagada</th>
          <th scope="col">Acciones</th>
          <!--<th scope="col">Monto</th>-->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reserva of reservas; index as i" class="text-center">
          <td>{{ i + 1 }}</td>
          <td>{{ reserva.usuario.email }}</td>
          <td>{{ reserva.maquina.nombre }}</td>
          <td>${{ reserva.precio }}</td>
          <td>{{ reserva.fecha_inicio | date : "dd/MM/yyyy" }}</td>
          <td>{{ reserva.fecha_fin | date : "dd/MM/yyyy" }}</td>
          <td>{{ reserva.fecha_reserva | date : "dd/MM/yyyy" }}</td>
          <td>
            <span
              class="badge"
              [ngClass]="{
                'bg-success': reserva.pagada,
                'bg-danger': !reserva.pagada
              }"
            >
              {{ reserva.pagada ? "Sí" : "No" }}
            </span>
          </td>
          <!--
          <td *ngIf="reserva.montoReembolso !== undefined" class="fw-bold">
            <span
              [ngClass]="{
                'text-success': reserva.montoReembolso > 0,
                'text-danger': reserva.montoReembolso < 0
              }"
            >
              {{ reserva.montoReembolso | currency : "ARS" }}
            </span>
          </td>
          <td *ngIf="reserva.montoReembolso === undefined" class="text-muted">
            -
          </td>
          
          -->

          <td>
            <button
              class="btn btn-sm btn-danger"
              (click)="eliminarReserva(reserva.id)"
            >
              Cancelar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div
  class="modal-backdrop fade show"
  *ngIf="mostrarFormulario"
  (click)="cerrarFormulario()"
></div>

<!-- Modal de asignar reserva -->
<div
  class="modal d-block"
  tabindex="-1"
  *ngIf="mostrarFormulario"
  style="background-color: rgba(0, 0, 0, 0.5)"
>
  <div
    class="modal-dialog modal-lg modal-dialog-centered"
    (click)="$event.stopPropagation()"
  >
    <div class="modal-content shadow">
      <div class="modal-header">
        <h5 class="modal-title">Asignar nueva reserva</h5>
        <button
          type="button"
          class="btn-close"
          (click)="cerrarFormulario()"
        ></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="crearReserva()">
          <div class="mb-3">
            <label>Email del cliente</label>
            <input
              type="email"
              class="form-control"
              [(ngModel)]="reserva.email"
              name="email"
              required
            />
          </div>

          <div class="mb-3">
            <label>Máquina</label>
            <select
              class="form-select"
              [(ngModel)]="reserva.maquina_id"
              name="maquina_id"
              required
            >
              <option [ngValue]="null" disabled selected>
                Seleccioná una máquina
              </option>
              <option *ngFor="let m of maquinas" [ngValue]="m.id">
                {{ m.nombre }} - {{ m.marca }} {{ m.modelo }}
              </option>
            </select>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label>Fecha de inicio</label>
              <input
                type="date"
                class="form-control"
                [(ngModel)]="reserva.fecha_inicio"
                name="inicio"
                required
                (change)="calcularPrecio()"
              />
            </div>
            <div class="col-md-6 mb-3">
              <label>Fecha de fin</label>
              <input
                type="date"
                class="form-control"
                [(ngModel)]="reserva.fecha_fin"
                name="fin"
                required
                (change)="calcularPrecio()"
              />
            </div>
          </div>

          <div class="mb-3">
            <label>Precio total</label>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="reserva.precio"
              name="precio"
              readonly
            />
          </div>

          <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-success">
              Confirmar reserva
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              (click)="cerrarFormulario()"
            >
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
  .modal {
    z-index: 1055;
  }

  .modal-backdrop {
    z-index: 1050;
  }

  .text-orange {
    color: #fd7e14;
  }

  .table-orange {
    background-color: #fd7e14;
  }

  .sugerencias {
    list-style: none;
    padding: 0;
    margin: 4px 0 0;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 10;
  }

  .sugerencias li {
    padding: 8px;
    cursor: pointer;
  }

  .sugerencias li:hover {
    background-color: #f0f0f0;
  }
</style>
